<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'baches/css/styles.css' %}">
    <title>{% block title %}Pozos Ya{% endblock %}</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    {% block extra_head %}{% endblock %}
</head>
<body>

<header>
    <div class="header-wrap">
        <div class="brand">
            <a href="/" style="text-decoration: none; color: white; display: flex; align-items: center; gap: 10px;">
                <img src="{% static 'baches/img/logo.jpg' %}" alt="Logo de Lomas de Zamora" class="logo-lomas">
                
                <div class="brand-text-wrap">
                    <h1>Pozos Ya</h1>
                    <small>Reclamos en Lomas de Zamora</small>
                </div>
            </a>
        </div>

        <nav>
            {% if user.is_authenticated %}
                {% if user.perfil and user.perfil.rol == "municipio" %}
                    <a href="{% url 'lista_baches' %}">Listado</a>
                    <a href="{% url 'panel_municipio' %}" class="highlight">Panel</a>
                    <a href="{% url 'logout' %}">Salir</a>
                {% else %}
                    <a href="{% url 'lista_baches' %}">Listado</a>
                    <a href="{% url 'crear_bache' %}">Reportar</a>
                    <a href="{% url 'mis_notificaciones' %}">
                        Notificaciones {% if notifs_no_leidas %}<span class="badge">{{ notifs_no_leidas }}</span>{% endif %}
                    </a>
                    <a href="{% url 'mis_baches' %}">Mis reclamos</a>
                    <a href="{% url 'editar_perfil' %}">Mi perfil</a>
                    <a href="{% url 'logout' %}">Salir</a>
                {% endif %}
            {% else %}
                <a href="{% url 'lista_baches' %}">Listado</a>
                <a href="{% url 'crear_bache' %}">Reportar</a>
                <a href="{% url 'login' %}">Entrar</a>
            {% endif %}
        </nav>
    </div>
</header>

<main>
    {% if messages %}
    <div class="flash-wrap">
        {% for message in messages %}
        <div class="flash flash-{{ message.tags }}" data-flash>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% block content %}{% endblock %}
</main>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        const flashes = document.querySelectorAll("[data-flash]");
        flashes.forEach((el) => {
        setTimeout(() => {
            el.classList.add("is-hiding");
            // lo removemos cuando termine la transición
            setTimeout(() => el.remove(), 650);
        }, 5000);
        });
    });
</script>


<footer class="site-footer">
    <div class="site-footer__inner">
        © {% now "Y" %} Lucas Hood. Todos los derechos reservados.
    </div>
</footer>

</body>
</html>